{:paths ["src"]
 :deps {
        io.github.kotoba-lang/coll-prewalk
        {:git/url "https://github.com/kotoba-lang/coll-prewalk.git"
         :git/sha "086c412e1b02fbdf11989709b81b1037da7fa48a"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
